/* Estilos principais */
@font-face {
    font-family: 'MinhaFonte';
    src: url('fontes/AlphaWood.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'MinhaFonte', sans-serif;
    font-size: 5em !important;
    -webkit-text-stroke: 1px white; /* Contorno fino preto */
    -webkit-text-fill-color: #000000; /* Cor do texto */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #2e2711;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}
.logo h1 {
    font-family: 'MinhaFonte', sans-serif;
}
.logo {
    display: flex; /* Deixa a imagem e o texto um ao lado do outro */
    align-items: center; /* Centraliza verticalmente */
    gap: 15px; /* Dá um espaço entre a logo e o texto */
}

.logo img {
    width: 10%; /* Ajuste o tamanho da logo */
    height: auto; /* Mantém a proporção */
}

.texto-logo {
    display: flex;
    flex-direction: column; /* Mantém o h1 e o p empilhados */
}


header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

.hero {
    background: url('img/florestas.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 100px 0;
}

section {
    padding: 40px;
}

#servicos .services-container {
    display: flex;
    justify-content: space-around;
}

.service {
    background-color: #fff;
    padding: 20px;
    width: 30%;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.service img {
    max-width: 100%;
    border-radius: 8px;
}

#valores {
    background-color: #d9f7d9;
    text-align: center;
}

#contato form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}

#contato img{
    position: relative;
    width: 50%;
    height: 40%;
    left: -50%;
    z-index: -1;
}

#contato input, #contato textarea {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#contato button {
    background-color: #006400;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
}

#video .video-container {
    text-align: center;
    padding: 20px;
}

footer {
    background-color: #006400;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.contato
{
    background-color: #fff;
    padding: 20px;
    width: 30%;
    text-align: left;
    border-radius: 8px;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
}
